/* set html full page size*/
html, body, main {
  height: 100% !important;
}

:root {
  color-scheme: light dark;
  background-color: #242424;
}
 
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}